.table{
  tbody tr:hover{
    background-color: gray;
  }
}
.select-card{
  transition:ease .5s;
  border-radius:10px;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover {
    transform: scale(1.08);
  }
}
.nav-item{
  cursor: pointer;
}